/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

nav{
    display: flex;
    background-color: rgb(138, 171, 181);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tittle{
    display: flex;
    width: 80%;
    gap: 1px;
}

.logo-up{
    width: 25%;
    justify-content: center;
}

.login{
    
    width: 25%;
    
}

.center{
    justify-content: center;
    display: flex;
    background-color:rgb(179, 137, 31);
    padding: 5px;
}

ul{
    width: 50%;
}

li{
    list-style-type: none;
    margin: 0 50px;
}





/* header */
header{
    background-color: rgb(4, 4, 126);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.head{
    background-color: rgb(202, 113, 202);
    width: 50%;
    height: 170px;
}
/* /header */

/* misure e colori dei conteinitori */
.white{
    display: flex;
    background-color: #fff;
    justify-content: center;
    padding: 20px;
}

.gray{
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 20px;
}

.blue{
    background-color: rgb(30, 144, 255);
    height: 200px;
    width: 50%;
}

.pink{
    background-color: rgb(255, 192, 203);
    height: 200px;
    width: 30%;
}

.green{
    background-color: rgb(34, 139, 34);
    width: 80%;
    height: 250px;
}

.up{
    background-color: rgb(35, 39, 42);
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 2px;
    border: 1px solid rgb(211, 211, 211);
}

.red{
    background-color: rgb(233, 125, 125);
    width: 20%;
    height: 180px;
}

.aqua{
    background-color: rgb(31, 172, 165);
    width: calc(60% / 4 - (8px / 4));
    height: 180px;
}

.down{
    background-color: rgb(35, 39, 42);
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.marine{
    background-color: rgb(81, 148, 126);
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
/* colori dei logo e bottone */
.si{
    background-color: rgb(152, 112, 118);
}

